In [22]:
import pandas as pd
#import pandas.io.data as web   # Package and modules for importing data; this code may change depending on pandas version
import datetime
#import pandas_datareader.data as web
import quandl

In [23]:
quandl.ApiConfig.api_key = 'eA4C8EnyPVcPFbWEsaLy'

In [24]:
# We will look at stock prices over the past year, starting at January 1, 2016
start = datetime.datetime(1970,1,1)
end = datetime.date.today()

In [25]:
exchange = 'LBMA'
ticker = 'GOLD'

data = quandl.get('%s/%s' % (exchange, ticker))

In [40]:
data.head()

            USD (AM)  USD (PM)  GBP (PM)  EURO (AM)  EURO (PM)   Open
Date
1968-01-02     35.18       NaN       NaN        NaN        NaN  35.18
1968-01-03     35.16       NaN       NaN        NaN        NaN  35.16
1968-01-04     35.14       NaN       NaN        NaN        NaN  35.14
1968-01-05     35.14       NaN       NaN        NaN        NaN  35.14
1968-01-08     35.14       NaN       NaN        NaN        NaN  35.14

In [41]:
#del data['GBP (AM)']
del data['GBP (PM)']
del data['EURO (AM)']
del data['EURO (PM)']

In [44]:
del data['Open']
data.columns = ['Open', 'Close']

In [46]:
data.head()

             Open  Close
Date
1968-01-02  35.18    NaN
1968-01-03  35.16    NaN
1968-01-04  35.14    NaN
1968-01-05  35.14    NaN
1968-01-08  35.14    NaN