In [1]:
# Put these at the top of every notebook, to get automatic reloading and inline plotting
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt

# Change the plot size.
plt.rcParams['figure.figsize'] = [18.0, 12.0]

In [3]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [4]:
from pandas_summary import DataFrameSummary

In [118]:
# import my Finance Analysis Tools (fat)
import finance as fat

In [109]:
data = fat.get_price_data('IAU')

Loaded data for IAU: 2005-01-28 to 2018-02-16.

In [110]:
data.head()

             Open   High    Low  Close  Adj Close   Volume
Date
2005-01-28  4.273  4.273  4.246  4.269      4.269  5777000
2005-01-31  4.223  4.231  4.199  4.227      4.227  1519000
2005-02-01  4.211  4.214  4.197  4.212      4.212   695000
2005-02-02  4.223  4.223  4.204  4.223      4.223  2993000
2005-02-03  4.158  4.174  4.151  4.172      4.172  1068000

In [119]:
trend = fat.get_google_trends_df(data, "gold price usd")

In [120]:
trend.head()

            gold price usd  Days since updated gold price usd
date
2005-02-01             6.0                                  0
2005-02-02             6.0                                  1
2005-02-03             6.0                                  2
2005-02-04             6.0                                  3
2005-02-05             6.0                                  4